<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Graduate Summer Student</h1>
            <span><address>University of Helsinki, Finland</address><time>2016</time></span>
        </header>
        <p>
            Courses: Materials Research, Introduction to Matlab
        </p>
    </article>
    <article>
        <header>
            <h1>Student Volunteer</h1>
            <span><address>Shahjalal University of Science and Technology</address><time>2012</time></span>
        </header>
        <p>
            Task: Setting up X-ray diffractometer.
        </p>
    </article>
</section>